<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRCodeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>311BD8F21D86434200DDE93C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>311BD90B1D86434200DDE93C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>311BD9161D86434200DDE93C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
